header{
    width: 100%;
    padding: 28px 8%;   
    position: sticky;
    top: 0;
    background-color: #fff9ea ;
    z-index: 3;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo{
    font-size: 24px;
    color: #B197FC;
}

#nav_lista{
    display: flex;
    list-style: none;
    gap: 40px;
}

.nav-item a {
    text-decoration: none;
    color: #1d1d1dad;
    font-weight: 600;
}

.nav-item.active a{
    color: #1d1d1d;
    border-bottom: 3px solid #6b52b8;
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}

.btn-default{
    text-decoration: none;
    display: flex;
}

#mode-icon{
    display: flex;
    align-items: center;
    color: #B197FC;
    cursor: pointer;
    font-size: 20px;
}


@media screen and (max-width: 1170px){
    #nav_lista,
    #navbar .btn-default{
        display: none;
    }
    
    #mobile_btn{
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
    }

    #mobile_menu.active{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_lista{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
        list-style: none;
    }

    #mobile_nav_lista .nav_item{
        list-style: none;
        text-align: center;
    }

    
    
    .dark#mobile_nav_lista .nav-item a{
        color: #fff9ea;
    }



}

.dark#navbars{
    background-color: #1d1d1d;
    
}

.dark#nav_lista .nav-item a{
    color: #fff9ea;
}

.dark#mobile_btn{
    color: #B197FC;
}
    