#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#sobre-mim{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 50px;

}

#sobre-mim .banner2{
    display: flex;
    margin-top: 70px;   
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 200px;
}

#sobre-mim .sobre-m{
    display: flex;
    gap: 24px;
}

#description{
    flex-direction: column;
    color: #434343;
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    margin-top: 100px;
    gap: 18px;
    width: 50%;
    padding: 20px;
    position: relative;
}



@media screen and (max-width: 1170px){
    #sobre-mim .banner2{
        display: none;
    }

    #description{
        text-align: center;
        display: flex;
        width: 100%;
        align-items: center;
    }

}

.dark#description{
    color: #fff9ea;
}

#home{
    display: flex ;
    min-height: (calc(100vh-92.8px));
    position: relative;
}

#cta{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
}

#cta .title{
    font-size: 4rem;
    color: #1d1d1d
}

.dark#cta .title{
    color: #fff9ea;
}

#cta .title span{
    color: #B197FC;
}

#cta .description{
    font-size: 1.2rem;
}

#cta_buttons{
    display: flex;
    gap: 24px;
}

#cta_buttons a{
    text-decoration: none;
    color: #1d1d1d;
}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 40%;
    z-index: 2;
}

#banner img{
    height: 100%;
    width: 100%;
    border-radius: 1000px;
    box-shadow:none;
    object-fit: contain;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);

}

@media screen and (max-width: 1170px){
    #home{
        min-height: 100%;
        padding-top: 0px;

    }

    #banner,
    #banner img,
    #home .shape{
        display: none;
    }

    #cta{
        width: 100%;
        align-items: center;
        text-align: center;
    }
}
